li {
  list-style: none;
}

.breadcrumbs {
  margin-bottom: 50px;
}

.breadcrumbs-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 15px;
}

.breadcrumb-item {
  color: rgba(0, 47, 52, 0.64);
  font-size: 14px;
  cursor: pointer;
}

.breadcrumb-item:hover {
  color: #002f34;
}
